
* {
  margin: 0;
  padding: 0;
	touch-action: manipulation;
}
iframe {
	display: none;
}
html, body {
	width: 100%;
	height: 100%;
	font-family: "Merriweather",Georgia,serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 2.375;
}
body {
	background-color: rgba($color: #000, $alpha: .2);
	padding-top: constant(safe-area-inset-top);
	padding-left: constant(safe-area-inset-left);
	padding-right: constant(safe-area-inset-right);
	padding-bottom: constant(safe-area-inset-bottom);
}

#root {
	height: 100%;
}

li {
	list-style: none;
}

.loading-init {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
}
